onboard.real-estate-executive.com:443 {
        handle_path /front* {
                root * /usr/share/caddy
                file_server
        }
        handle_path /api* {
                reverse_proxy back:3000
        @websockets {
            header_regexp Connection Upgrade
            header        Upgrade websocket
        }
        reverse_proxy @websockets back:3000
        }
        tls {
                on_demand
        }
}